* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	padding: 0 30px;
}

.options {
	display: inline-flex;
	align: center;
	width: 120px;
	height: 120px;
	padding: 0;
	background: #009578;
	border: none;
	outline: none;
	border-radius: 15px;
	overflow: hidden;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
}
.options:hover {
	background: #008168;
}

.options:active {
	background: #006e58;
}

.buttonResult {
	display: inline-flex;
	align: center;
	width: 120px;
	height: 120px;
	padding: 0;
	background: #877777;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
}

.btn-count {
	display: inline-flex;
	align: center;
	width: 75px;
	height: 75px;
	padding: 0;
	background: #a47171;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px 0;
}

.contenedor .logo {
	text-align: center;
}

.contenedor  h2 {
	font-size: 50px;
	text-align: center;
	padding: 50px 0;
	font-weight: 300;
	margin-bottom: 20px;
	opacity: 0;
}


.contenedor  p {
	margin-bottom: 20px;
}

.contenedor  .btn-abrir-popup {
	padding: 0 5px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
	/*float: right;*/

	position: absolute;
	right: 3vw;
}

.contenedor  .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

.button__text,
.button__icon {
    display: inline-flex;
	align-items: center;
    padding: 0 0px; 
    color: #fff;
    height: 100%;
}

.button__text2 {
    display: inline-flex;
	align-items: center;
    padding: 0 35px; 
    color: #fff;
    height: 100%;
}

.btn-start {
	margin-top: 20px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #009578;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.btn-start:hover {
	background: #008168;
}

#container {
    text-align: center;
}

/*
#Start {
	position: fixed;
	left: 46%;
	top: 80%;
}
*/
/* Aspect of buttons recarga/ dispara/ escut */


#Recarga {
	position: fixed;
	left: 23%;
	top: 60%;
}
#Dispara {
	position: fixed;
	left: 38%;
	top: 60%;
}
#Escut {
	position: fixed;
	left: 53%;
	top: 60%;
}
#Vidas {
	position: fixed;
	left: 68%;
	top: 60%;
}

#BotResponse {
	border-radius: 15px;
	position: fixed;
	left: 45.3%;
	top: 25%;
}

#count {
	position: fixed;
	left: 47%;
	top: 47%;
}

#brain {
	position: fixed;
	left: 2%;
	top: 82%;
}

#nomUsuari {
}


/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 20px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}


.popup form .btn-start {
	margin-top: 20px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #009578;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-start:hover {
	background: #008168;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}